@page "/"
@inherits HomeBase

<PageTitle>Discovered</PageTitle>
<div class="w-100">
    <article class="w-100 d-flex align-items-center justify-content-center quote-text">
    @if (Discovery is null && ErrorMessage is null)
    {
            <p class="fs-4 text-center">Loading...</p>
      
    }
    else if (ErrorMessage is not null)
    {
            <p class="fs-4 text-cente">@ErrorMessage</p>
    }
    else
    {
        <DisplayQuote Discovered="Discovery" Head="@Header" OnClickSripture="GetScriptures"/>

    }
    </article>
</div>
<div class="d-flex justify-content-center py-4">
    <DiscoveredFeatures OnClickRandom="GetRandomDiscovery" BibleScripture="VerseScripture" OnClickSripture="GetScriptures" verse="@_verse"/>
</div>

